name: Validate commit

on:
  push:
    tags-ignore:
      - '*.*'             # We don't want this to run on release

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: yarn install
      - run: yarn run lerna bootstrap
      - run: yarn run lint
      - run: yarn run build
      - run: yarn test
